@import 'src/assets/styles/variables';

.sidebar{
	width: 100%;
	height: 100%;
	padding: 20px;
	
	background-color: $white;
	box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
}

.user{
	
	padding: 10px 0;
	
	display: flex;
	align-items: center;
	gap: 15px;
	
	&-icon{
		width: 30px;
		height: 30px;
	}
}

button{
	padding: 10px 0;
	
	display: block;
	width: 100%;
	
	border: none;
	background-color: transparent;
	
	text-align: left;
}

.link{
		padding: 15px 0;
	
		display: flex;
		align-items: center;
		gap: 15px;
	
		text-decoration: none;
		color: $black;
		cursor: pointer;
}
.router-link-active{
	color: $blue;
}