@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Fonts */
$default_font: "Open Sans", sans-serif;

/* colors */
$white: #FFF;
$black: #171717;
$gray: #D4D4D4;
$red: #F65E5E;
$green: #5BA199;
$blue: #347EE8;
