@import 'variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
	background-color: #131313;

	font-family: $default_font;
	line-height: 1.2;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

button{
	cursor: pointer;
}


.content{
	padding: 20px;
	width: 100%;
	min-height: 100vh;
	
	h1{
		margin-bottom: 30px;
	}
	
	&-wrapper{
		padding: 25px 15px;
		background-color: #fff;
	}
}

.main{
	display: flex;
	&-left{
		position: fixed;
		z-index: 1;
		
		width: 250px;
		height: 100vh;
	}
	&-right{
		width: 100%;
		padding-left: 250px;
		//width: calc(100% - 250px);
		margin-left: auto;
		
		background-color: #f2fdff;
	}
}

